/* TailwindCSS */

/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

.bg-home {
  z-index: -100;
  left: -100px;
  width: 70%;
  height: 100%;
  transform: skewX(-12deg);
}

/* Fonts */

.font-inter {
  font-family: "Inter", sans-serif;
}
